@font-face {
    font-family: 'halaney';
    src: url(assets/Halaney-Demo.otf);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'halaney';
    background-color: #bbe2cb;
}

.container{
    position: relative;
    cursor: pointer;
}

.envelope {
    position: relative;
    width: 300px;
    height: 200px;
    background-color: #2E8B57;
    top: 0;
    transition: top 0.5s ease;
    z-index: 2; /* Ajuste o z-index para garantir que o envelope esteja acima do ::before */
}

.cartao {
    background-color:#FFF8DC;
    width: 270px;
    height: 170px;
    position: absolute;
    top: 10px;
    left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease;
    transform-origin: top center;
    z-index: 2; /* Ajuste o z-index para garantir que o cartão esteja acima do ::before */
}

.texto{
    text-align: center;
}

.frente{
    position: absolute;
    border-right: 150px solid #2e4b3a;
    border-top: 105px solid transparent;
    border-bottom: 95px solid transparent;
    z-index: 10;
    left: 150px;
    top: 1px;
}

.frente::before{
    position: absolute;
    content: "";
    border-left: 300px solid #2e4b3a;
    border-top: 200px solid transparent;
    left: -150px;
    top: -105px;
}


.container::before {
    content: "";
    position: absolute;
    z-index: 3;
    border-top: 200px solid #2E8B57;
    border-right: 150px solid transparent;
    border-left: 150px solid transparent;
    transition: top 0.5s ease; /* Adicionando transição para suavizar o movimento */
    top: 0; /* Ajuste a posição para alinhar com o envelope */
}


.container.open::before {
    display: none;
}


/* A PARTE QUE ABRE DO ENVELOPE */
.envelope::before {
    content: "";
    position: absolute;
    z-index: 0;
    border-top: 200px solid #2E8B57;
    border-right: 150px solid transparent;
    border-left: 150px solid transparent;
    transition: transform 0.5s ease; /* Removi a transição do border-top */
    transform-origin: center top;
    transform: scaleY(0) rotateX(-180deg); /* Inicialmente fechado */
}


.container.open .envelope::before {
    transform: scaleY(1) rotateX(-180deg); /* Abre o envelope (rotaciona para cima) */
}


.cartao.open {   
    transform: translateY(-200px); /* Move o cartão para fora do envelope */
}