@font-face {
    font-family: 'halaney';
    src: url(assets/Halaney-Demo.otf);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'halaney';
}

.container{
    position: relative;
}

.envelope{
    position: relative;
    width: 300px;
    height: 200px;
    background-color: #2E8B57;
}

/* A propriedade ::before faz com que conteúdo seja exibido antes do selecionado */
.envelope::before{
    background-color: #2E8B57;
    content: "";
    /* tamanho */
    width: 212px;
    height: 212px;
    /* posição */
    left: 44px;
    top: -106px;
    position: absolute;
    transform: rotate(45deg);
    /* detalhes */
    border-radius: 30px 0 0 0;
}

.cartao{
    background-color:#FFF8DC;
    width: 270px;
    height: 170px;
    position: absolute;
    top: 10px;
    left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto{
    text-align: center;
}

.frente{
    position: absolute;
    border-right: 150px solid #2e4b3a;
    border-top: 105px solid transparent;
    border-bottom: 95px solid transparent;
    z-index: 10;
    left: 150px;
    top: 1px;
}

.frente::before{
    position: absolute;
    content: "";
    border-left: 300px solid #2e4b3a;
    border-top: 200px solid transparent;
    left: -150px;
    top: -105px;
}