@font-face {
    font-family: 'halaney';
    src: url(assets/Halaney-Demo.otf);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'halaney';
}

.container{
    position: relative;
    cursor: pointer;
}

.envelope{
    position: relative;
    width: 300px;
    height: 200px;
    background-color: #2E8B57;
}

.cartao{
    background-color:#FFF8DC;
    width: 270px;
    height: 170px;
    position: absolute;
    top: 10px;
    left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto{
    text-align: center;
}

.frente{
    position: absolute;
    border-right: 150px solid #2e4b3a;
    border-top: 105px solid transparent;
    border-bottom: 95px solid transparent;
    z-index: 10;
    left: 150px;
    top: 1px;
}

.frente::before{
    position: absolute;
    content: "";
    border-left: 300px solid #2e4b3a;
    border-top: 200px solid transparent;
    left: -150px;
    top: -105px;
}

/* A PARTE QUE ABRE DO ENVELOPE */
.envelope.open::before{
    background-color: #2E8B57;
    content: "";
    /* tamanho */
    width: 212px;
    height: 212px;
    /* posição */
    left: 44px;
    top: -106px;
    position: absolute;
    transform: rotate(45deg);
    /* detalhes */
    border-radius: 10px 0 0 0;
}

.cartao.open {
    transition: transform 0.5s ease; /* Adicionando transição para a animação */
    transform-origin: bottom center; /* Define o ponto de origem da transformação */
    transform: translateY(-200px); /* Move o cartão para fora do envelope */
}

.envelope.open {
    top: -200px; /* Move o envelope para cima */
}